snippet met "public method"
	public function ${1}(${2}): $3
	{
		${0}
	}

snippet pmet "protected method"
	protected function ${1}(${2}): $3
	{
		${0}
	}

snippet smet "static method"
	${1:public} static function ${2}(${3}): $4
	{
		${0}
	}

snippet ptest "Pest test method (prefix)"
	test('${1}', function()
	{
		${0}
	});

snippet testt "test method (prefix)"
	public function test_${1}()
	{
		${0}
	}

snippet testa "test method (annotation)"
	/** @test */
	public function ${1}()
	{
		${0}
	}
